h1 {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  color: cadetblue;
}

h2 {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

div {
  text-align: center;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: aqua;
}

.avatar {
  text-align: center;
  padding: 20px 30px;
}

.avatar img {
  border-radius: 20%;
  transition: transform 0.2s;
}

.avatar img:hover {
  transform: scale(1.1);
}
